/* Variables */

:root {
  /* Special */
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --slider: #c1c1c1;
  --map-background: #eae6dd;

  /* Catalog-product background */
  --sedona: #4c80ab;
  --pink: #26333e;
  --borodinski: #0a0a0a;
  --mishka: #57c3b3;
  --a-plus: #6551d6;
  --kvast: #5e390a;

  /* Shades of white */
  --basic-white: #ffffff;
  --basic-white-dark: #d7dcde;
  --basic-white-neutral: #eeeeee;
  --basic-white-light: #dbdbdb;
  --basic-white-extra-light: #e1e1e1;

  /* Shades of black */
  --basic-black: #000000;
  --basic-black-extra-dark: #283136;
  --basic-black-dark: #444444;
  --basic-black-neutral: #4d4d4d;
  --basic-black-light: #666666;
  --basic-black-extra-light: #a6a6a6;

  /*  Цвета по секциям */
  /* INDEX.HTML */
  /* Header */
  --basic-white-neutral: #eeeeee;
  --basic-black-extra-light: #a6a6a6;
  --basic-black: #000000;

  /* Slider */
  --basic-white-neutral: #eeeeee;
  --basic-black: #000000;
  --basic-black-extra-dark: #283136;
  --basic-red: #fb565a;

  /* Features */
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc849;
  --basic-black: #000000;
  --basic-black-extra-dark: #283136;

  /* Description */
  --basic-black: #000000;
  --basic-black-extra-dark: #283136;

  /* Footer */
  --basic-black: #000000;
  --basic-black-light: #666666;
  --basic-red: #fb565a;
  --basic-white: #ffffff;
  --basic-white-extra-light: #e1e1e1;
  --basic-black-dark: #444444;

  /* CATALOG.HTML */
  /* Header */
  --basic-white-neutral: #eeeeee;
  --basic-black-extra-light: #a6a6a6;
  --basic-black: #000000;

  /* Product-filter */
  --range-button: #ababab;
  --basic-black: #000000;
  --basic-white-neutral: #eeeeee;
  --basic-black-extra-dark: #283136;

  /* Product-catalog */
  --basic-black: #000000;
  --basic-white-neutral: #eeeeee;
  --basic-red: #fb565a;
  --basic-white: #ffffff;

  /* Footer */
  --basic-black: #000000;
  --basic-black-light: #666666;
  --basic-red: #fb565a;
  --basic-white: #ffffff;
  --basic-white-extra-light: #e1e1e1;
  --basic-black-dark: #444444;

  /* hover-active-focus-invalid */
  --basic-red-dark: #e74246;
  --basic-green-dark: #00bc6c;
  --basic-yellow-dark: #eab534;

  --input-grey: #b4b9bb;
  --button-grey: #dfdfdf;
  --button-dark-grey: #d5d5d5;
  --basic-black-extra-dark: #283136;
  --basic-black-neutral: #4d4d4d;

  --basic-red-extra-dark: #b7373b;
  --basic-green-extra-dark: #00aa62;
  --basic-yellow-extra-dark: #eab534;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Open Sans, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black-extra-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-header-logo-image:active {
  opacity: 0.3;
}

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  background-color: var(--basic-white-neutral);
}

.site-navigation-link,
.cart-link-text {
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation-list {
  list-style: none;
}

.site-navigation-link:hover,
.cart-link-text:hover {
  color: var(--basic-red);
}

.site-navigation-link:active,
.cart-link-text:active {
  opacity: 0.3;
}

/* Slider */
.slider-button {
  width: 240px;
}

.slider {
  background-color: var(--basic-white-neutral);
}

.button {
  height: 50px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  font: inherit;
  vertical-align: middle;
}

.button,
.button:active,
.button:focus {
  outline: none;
}

.slider-list {
  list-style: none;
}

.slider-slogan {
  color: var(--basic-black);
  font-size: 50px;
  font-weight: 500;
  line-height: 50px;
}

.button:hover {
  background-color: var(--basic-red-dark);
}

.button:active {
  background-color: var(--basic-red-extra-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.active-opacity-button:active {
  opacity: 0.3;
}

/* Slider-radio-buttons */
.slider-radio-buttons-item input[type="radio"] {
  display: none;
}

.slider-radio-buttons-item label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
}

.slider-radio-buttons-item label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(../img/img-for-index/radio-index-off.svg) 0 0 no-repeat;
}

.slider-radio-buttons-item input[type="radio"]:checked + label:before {
  background: url(../img/img-for-index/radio-index-on.svg) 0 0 no-repeat;
}

/* <hr> stilization */
.line-between-sections {
  border: 0;
  height: 2px;
  width: 80%;
  background: var(--basic-white-neutral);
}
/* Features */
.features-button {
  width: 160px;
}

.features-list {
  list-style: none;
}

.features-name {
  color: var(--basic-black);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.second-button {
  background-color: var(--basic-green);
}

.second-button:hover {
  background-color: var(--basic-green-dark);
}

.second-button:active {
  background-color: var(--basic-green-extra-dark);
}

.third-button {
  background-color: var(--basic-yellow);
}

.third-button:hover {
  background-color: var(--basic-yellow-dark);
}

.third-button:active {
  background-color: var(--basic-yellow-extra-dark);
}

/* Description */

.description-about-title {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.description-about-subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.description-about-list {
  list-style-image: url(../img/img-for-index/dash-symbol.svg);
}

.description-performance-title {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.performance-table-percent-item {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.percent {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  color: var(--basic-black);
  vertical-align: super;
}

.performance-table-text-item {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

/* Partners */

.partners-list {
  list-style: none;
}

.partners-item-image {
  opacity: 0.2;
}

.partners-item-image:hover {
  opacity: 1;
}

.partners-item-image:active {
  opacity: 0.1;
}

/* Footer */

.footer-contacts-subtitle {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
}

.footer-contacts-adress,
.contacts-phone {
  line-height: 18px;
  color: var(--basic-black-light);
}

.main-footer-discount-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-footer-discount-subtitle {
  line-height: 22px;
  color: var(--basic-black-dark);
}

.contacts-map-frame {
  background-color: var(--map-background);
  height: 200px;
}

/* Socials */
.main-footer-socials-list {
  list-style: none;
}

.main-footer-socials-item-image {
  background-color: var(--basic-white-extra-light);
}

.main-footer-socials-item-image:hover {
  background-color: var(--basic-red-dark);
}

.main-footer-socials-item-image:active {
  background-color: var(--basic-red-extra-dark);
}

.contacts-button {
  width: 219px;
}
/* Modal */
.modal-button {
  width: 259px;
}

.popup-heading {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.label-name {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}

.popup-item input {
  font: inherit;
  border: 2px solid var(--basic-white-dark);
  border-radius: 3px;
}

.popup-item input:hover {
  border: 2px solid var(--input-grey);
}

.popup-item input:focus {
  border: 2px solid var(--basic-black);
}

.popup-item input:invalid {
  border: 2px solid var(-basic-red-dark);
}

/* CATALOG.HTML */
.catalog-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white-neutral);
}

.background-container {
  background-color: var(--basic-white-neutral);
}

/* Filter */
.filter-range {
  width: 260px;
  height: 80px;
  background: var(--basic-white-neutral);
  border-radius: 3px;
  margin-bottom: 14px;
}

.filter-range-buttons {
  list-style: none;
}

.filter-range-price {
  width: 80px;
  height: 38px;
  background: var(--basic-white-neutral);
  border-radius: 3px;
  border: none;
  margin-bottom: 54px;
}

.product-filter-cost-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-range-buttons {
  line-height: 22px;
  text-transform: uppercase;
}

.radio-buttons-description-text {
  line-height: 19px;
  list-style: none;
}

.catalog-button {
  font-weight: 500;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white-neutral);
}

.catalog-button:hover {
  background-color: var(--button-grey);
}

.catalog-button:active {
  background-color: var(--button-dark-grey);
}

.product-filter-name {
  border: none;
}

/* Filter-radio-buttons */
.filter-range-buttons {
  margin-bottom: 10px;
}

.product-filter-radio-button[type="radio"] {
  display: none;
}

.catalog-radio-type label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  line-height: 30px;
  user-select: none;
}

.catalog-radio-type label:before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url(../img/img-for-catalog/radio-off.svg) 0 0 no-repeat;
  opacity: 0.4;
}

.product-filter-radio-button[type="radio"]:checked + label:before {
  background: url(../img/img-for-catalog/radio-on.svg) 0 0 no-repeat;
}

.catalog-radio-type label:hover:before {
  opacity: 1;
}

.product-filter-radio-button[type="radio"]:disabled + label:before {
  opacity: 0.1;
}

/* Filter-checkbox */
.checkbox-other {
  display: block;
  margin: 0 0 10px 0;
  line-height: 22px;
}
.checkbox-other input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  width: 25px;
  height: 23px;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: top;
  outline: none;
  transition: background 0.3s ease;
  background: url(../img/img-for-catalog/checkbox-off.svg) 0 0 no-repeat;
  cursor: pointer;
  opacity: 0.4;
}

.checkbox-other input[type="checkbox"]:checked {
  background-image: url(../img/img-for-catalog/checkbox-on.svg);
}

.checkbox-other input[type="checkbox"]:hover {
  opacity: 1;
}

.checkbox-other input[type="checkbox"]:active {
  opacity: 1;
}

.checkbox-other input[type="checkbox"]:disabled {
  opacity: 0.1;
}

/* Catalog */

.catalog-sort-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  background: transparent;
  opacity: 0.3;
}

.catalog-sort-button:hover {
  opacity: 0.6;
}

.catalog-sort-button:active {
  opacity: 1;
}

.active-sort-button {
  color: var(--basic-black);
}

.product-list {
  list-style: none;
}

.product-list-item-decoration {
  opacity: 0.12;
}

.product-list-item-decoration:hover {
  opacity: 1;
}

.product-list-item-description {
  width: 360px;
  height: 231px;
  text-align: center;
  background-color: var(--basic-white-neutral);
}

.product-list-item {
  margin: 40px;
}

.product-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.product-name:hover {
  color: var(--basic-red);
}

.product-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.product-list-item-description p {
  line-height: 18px;
  color: var(--basic-black-light);
}

.pagination-list {
  list-style: none;
}

.product-button {
  width: 200px;
}

.filter-button {
  width: 260px;
}

/* Paginatation */
.pagination-button {
  background: var(--basic-white-neutral);
  width: 50px;
  height: 50px;
}

.active-button {
  background: transparent;
  border: 3px solid var(--basic-white-light);
}

.pagination-next-button {
  background: var(--basic-white-neutral);
  width: 260px;
}

/* Hidden */

